.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
  display: inline-flex;
  width: 18rem;
  margin: 20px;
  border-radius: 5%;
  text-align: center
}

.users {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-right: 26px;
  display: inline-flex;
  border-radius: 75%;
  align-items: center;
  text-align: center  !important;
  background-color: #D3D3D3
}

.users-name :hover {
  color: white
}

.users-name {
  margin: 10px;
  text-align: center  !important
}

.t-container {
  display: inline-flex;
}

.white {
  background: #ffffff  ;
  width: 50%;
    color: #7d7d7d;    
    overflow: hidden;
    background-size: cover;
    background-position: center
}

.tripbtn {
  background: linear-gradient( transparent, #7d7d7d), url("assets/bike-photos/9.jpg") no-repeat center center;
    height: 25%;
    padding-top: 25%;
    color: #FFF;    
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-weight: bold
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gotham'); 
  
  /* IE9 Compat Modes */
  src: local('Gotham'),
       url('/fonts/gotham/Gotham-Medium.eot?#iefix') format('otf'), /* IE6-IE8 */
       url('/fonts/gotham/Gotham-Medium.woff2') format('otf'), /* Super Modern Browsers */
       url('/fonts/gotham/Gotham-Medium.woff') format('otf'), /* Modern Browsers */
       url('/fonts/gotham/Gotham-Medium.ttf') format('otf'), /* Safari, Android, iOS */
       url('/fonts/gotham/Gotham-Medium.svg#OpenSans') format('otf'); /* Legacy iOS */
}

body {
  font-family: 'Gotham';
  background-color: #f0f0f2;
  align-items: center
}

a {
  color: black;
  text-decoration: none
}

a :hover {
  color: orange
}

.evenly-distributed {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.center {
  display: flex;
  justify-content: center;
  align-items: center
}

.iframe {
  width: 600px;
  height: 450px;
}

.col {
  width: 300px;
  height: 100px;
}

.tripdetail {
  width: fit-content
}

.transparent{
  background:rgba(255,255,255,0.5);
}

b {
  font-weight: bold;
  color: #222222
}

p {
  font-weight: lighter
}


.tripsdiv {
  margin: 5px;
}

.SignUp {
  text-align: center
}

.navbar {
  border-radius: 0
}
