.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.google-map {
  height: 400px
}

.card {
  display: inline-flex
}

.users {
  width: 100px;
  height: 100px;
  margin-top: 52px;
  margin-right: 26px;
  display: inline-flex;
  border: 2px solid black;
  border-radius: 75%;
  align-items: center;
  text-align: center;
  background: url("assets/profile.svg") center center;
  background-size: 90%;
    -moz-background-size: 90%;
    -webkit-background-size: 90%;
    -o-background-size: 90%;
    color: #FFF;    
    overflow: hidden;
    background-position: center
}

.users-name :hover {
  text-align: center;
  margin: 0;
  color: white
}

.card {
  margin: 20px;
  border-radius: 5%
}

.t-container {
  display: inline-flex;
}

.jumbotron {
  background: url("assets/bike-photos/7.jpg") no-repeat center center;
  background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    color: #FFF;    
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gotham'); 
  
  /* IE9 Compat Modes */
  src: local('Gotham'),
       url('/fonts/gotham/Gotham-Medium.eot?#iefix') format('otf'), /* IE6-IE8 */
       url('/fonts/gotham/Gotham-Medium.woff2') format('otf'), /* Super Modern Browsers */
       url('/fonts/gotham/Gotham-Medium.woff') format('otf'), /* Modern Browsers */
       url('/fonts/gotham/Gotham-Medium.ttf') format('otf'), /* Safari, Android, iOS */
       url('/fonts/gotham/Gotham-Medium.svg#OpenSans') format('otf'); /* Legacy iOS */
}

body {
  font-family: 'Gotham';
}